{% extends "base.html" %}

{% block title %}Новини{% endblock %}

{% block body %}
    <div class="country-wrapper">
        <a class="country-back-btn" href="{% url 'countries' %}">
            <i class="glyphicon glyphicon-arrow-left"></i>
            <span class="country-back-btn-text">Назад до списку країн</span> 
        </a>
        <section class="country">
            <h1>{{ country.name }}</h1>
            <div>
                {{country.comments.html|safe}}
            </div>
        </section>
    </div>

{% endblock %}
