{% extends "base.html" %}

{% block title %}Новини{% endblock %}

{% block body %}
    {% if country_list %}
        <div class="country-list">
            {% for country in country_list %}
                <a href="{% url 'country' country.id %}" class="country-card">
                    <div class="country-container">
                        <h2>{{ country.name }}</h2>
                        <i class="glyphicon glyphicon-arrow-right"></i>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>No news are available.</p>
    {% endif %}
{% endblock %}
