{% extends "base.html" %}

{% block title %}Перетин кордону для біженців з України{% endblock %}

{% block body %}
    {% if crossings_list %}
    <div class="table-container">
        <table id=crossingTable width=100% class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Країна/Country Name</th>
                <th class="col-md-4" scope="col">Пропускний пункт/Crossing Name</th>
                <th>Автомобільна черга/Car queue</th>
                <th>Кількість пішоходів/Pedestrian Queue</th>
                <th>Час очікування в автомобільній черзі/Car Wait Time</th>
                <th>Актуальність данних/Last Update</th>
                <th>Додаткові данні/Extra info</th>
            </tr>
            </thead>

            <tbody>
            {% for crossing in crossings_list %}
                <tr>
                    <td >{{ crossing.country.name }}</td>
                    <td >{{ crossing.name }}</td>
                    <td >{{ crossing.car_queue_length }} км</td>
                    <td >{% if crossing.pedestrian_queue_length is not None %}{{ crossing.pedestrian_queue_length }}{% else %}No crossing/Відсутній{% endif %}</td>
                    <td >{{ crossing.car_queue_wait_time }} год</td>
                    <td >{{ crossing.updated_at|date:'Y-m-d H:i' }}</td>
                    <td >{{ crossing.comments.html|safe }}</td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
        <p>No Crossings are available.</p>
    {% endif %}
{% endblock %}

