{% extends "base.html" %}

{% block title %}Новини{% endblock %}

{% block body %}
    {% if news_list %}
        <div class="country-wrapper">
        {% for news in news_list %}
        <section class="country news-card">
            <div class="news-header">
                <h2>{{ news.heading }}</h2>
                <span class="news-time">{{ news.updated_at|date:'Y-m-d H:i' }}</span>
            </div>
            <p class="news-text">{{ news.news.html|safe }}</p>
        </section>
        {% endfor %}
    {% else %}
        <p>No news are available.</p>
    {% endif %}
    </div>
{% endblock %}
